<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Configuration>
<Configuration status="WARN" monitorInterval="30"  shutdownHook="disable">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <appender name="file" class="org.apache.log4j.RollingFileAppender">
      <param name="append" value="false" />
      <param name="maxFileSize" value="10KB" />
      <param name="maxBackupIndex" value="5" />
      <!-- For Tomcat -->
      <param name="file" value="${catalina.home}/logs/myStruts1App.log" />
      <layout class="org.apache.log4j.PatternLayout" >
        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
      </layout>
    </appender>
  </Appenders>
  <Loggers>
    <Logger name="com.parasoft" level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Root level="error">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>